body, html {
    height: 100%;
    margin: 0%;
background-image: url(https://oldschool.runescape.wiki/images/thumb/Default_login_screen_mobile.jpg/365px-Default_login_screen_mobile.jpg?1ec04);
background-repeat: no-repeat;
background-size: 100% 100%;
}

.center-text {
    text-align: center;
    color: yellow;
    font-size: 200px;
}