.test-text{
 color: blue;
 text-align: center;
}
body{
    background-image: url(https://preview.redd.it/why-is-the-jonkler-high-quality-is-he-hd-v0-bixxctrgf6mc1.jpeg?auto=webp&s=faee2a24401c3f5f377561f5c8a540a2703c7543);
    background-repeat: no-repeat;
    background-size: cover;
}